.animalsCard {
    display: flex;
    flex-direction: column;
    width: 280px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px grey;
    border-radius: .8rem;
    padding: .5rem;
}

figure {
    font-size: 3rem;
}

li {
    font-size: .7rem;
}

.funFacts {
    background-color: gray;
    border: 1px solid gray;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
}